@import "./../../../scss/imports";

.codeerror {
  border-top: 1px solid lighten($input-bg, 10);
  max-height: 15vh;
  min-height: 15vh;
  overflow: auto;

  &:empty {
    display: none;
  }

  &__item {
    padding: $input-padding-y-sm $input-padding-x-sm;
  }
}
