@import "./../../../scss/imports";

.react-tabs__tab-panel.react-tabs__tab-panel--assets-manager {
  overflow: hidden;
}

.assets-manager {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__list {
    flex-grow: 1;
    position: relative;

    &-inner {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      height: 100%;
      top: 0;
      overflow: auto;
      left: $grid-gutter-width * -0.5;
      right: $grid-gutter-width * -0.5;
    }
  }

  &__item {
    &,
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }

    &-inner {
      flex-grow: 1;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      position: relative;
      padding: 0.5em;
      background-color: $color-grey;
    }

    &-preview {
      flex-grow: 1;

      img {
        background: url("../../../static/bgk-pattern.png") repeat center;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-remove {
      font-family: $font-family;
      background-color: $dark;
      color: $warning;
      font-weight: 700;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      border-radius: 100%;
      top: -0.7rem;
      right: -0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.4rem;
      height: 1.4rem;
      font-size: 1.3rem;
      line-height: 1;
      border: none;
      transition: background-color 218ms ease, color 218ms ease;

      &:hover {
        color: $color-foreground;
        background-color: $danger;
      }

      &:after {
        font-family: $font-family;
        display: block;
        content: '⨯';
      }

      span {
        display: none;
      }
    }

    &-type {
      font-size: 0.7em;
      color: $color-yellow;
    }
  }
}