@import "./../../../scss/imports";

.displays-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.display {
  // border: 1px solid white;
  margin: 5px;
  width: #{'calc(50% - 10px)'};

  // &__preview,
  &,
  &__preview-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__preview {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }

  &__preview-inner {
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
  }
}
