@import "./../../../scss/imports";

/**
 *
 */
.scripts-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

.control-layers {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.control-layer {
  &__id,
  &__type,
  &__invisible {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, 0);
  }

  &__id {
    flex-grow: 2;
  }

  &__type,
  &__invisible {
    flex-shrink: 1;
  }

  &:nth-child(even) {
    background-color: rgba(127, 127, 127, .1);
  }

  &--active {
    background-color: rgba(127, 127, 127, .5);

    &:nth-child(even) {
      background-color: rgba(127, 127, 127, .6);
    }

    .custom-control-label {
      font-weight: bold;
    }
  }


  .custom-control-label {
    text-align: center;
    display: block;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  .drag-handle {
    cursor: ns-resize;
    font-size: 1.2rem;
    line-height: 1;
    height: 100%;
  }
}