@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "./theme-monokai";

$spacing: 0.5vmin;

$line-height-base: 1.2;

$enable-shadows: true;

/**
 *
 */

$blue:    $color-blue;
$indigo:  #6610f2;
$purple:  $color-red;
$pink:    $color-red2;
$red:     #dc3545;
$orange:  $color-orange;
$yellow:  $color-yellow;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

// Body
//
// Settings for the `<body>` element.

$body-bg: $color-background;
$body-color: $color-foreground;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
$font-family-base:            $font-family-monospace;
// stylelint-enable value-keyword-case


// Components
//
// Define common padding and border radius sizes and more.
$border-radius:               .1vmin;
$border-radius-lg:            .2vmin;
$border-radius-sm:            .05vmin;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .125rem;
$input-btn-padding-x:         .1rem;
$input-btn-line-height:       $line-height-base * .8;

// $input-btn-focus-width:       .2rem;
// $input-btn-focus-color:       rgba($component-active-bg, .25);
// $input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm:      .075rem;
$input-btn-padding-x-sm:      .04rem;
$input-btn-line-height-sm:    $line-height-sm * .8;

$input-btn-padding-y-lg:      .2rem;
$input-btn-padding-x-lg:      .16rem;
$input-btn-line-height-lg:    $line-height-lg * .8;

// $input-btn-border-width:      $border-width;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $border-radius-lg;
$btn-border-radius-sm:        $border-radius-sm;
$input-border-radius:         $border-radius;
$input-border-radius-lg:      $border-radius-lg;
$input-border-radius-sm:      $border-radius-sm;


$input-bg:                              #6C6D69;
$input-disabled-bg:                     mix($input-bg, $body-bg);

$input-color: $blue;
$input-border-color: lighten($input-bg, 10);
$input-placeholder-color: $yellow;
$input-focus-bg: lighten($input-bg, 10);
$input-focus-border-color: lighten($input-focus-bg, 10);//darken();
$input-focus-color: $blue;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$input-btn-padding-y:         .2rem;
$input-btn-padding-x:         .3rem;
$input-btn-line-height:       1.3;

$input-btn-padding-y-sm:      .07rem;
$input-btn-padding-x-sm:      .16rem;

$input-group-addon-border-color: $input-border-color;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: $grid-gutter-width;


$pre-color:                         $gray-200;