// colors taken from ~/.config/sublime-text-3/Packages/Color Scheme - Default/Monokai.sublime-color-scheme
$color-black: hsl(0, 0%, 0%);
$color-black2: hsl(60, 17%, 11%);
$color-black3: hsl(70, 8%, 15%);
$color-blue: hsl(190, 81%, 67%);
$color-grey: hsl(55, 8%, 26%);
$color-orange: hsl(32, 98%, 56%);
$color-orange2: hsl(30, 83%, 34%);
$color-orange3: hsl(47, 100%, 79%);
$color-purple: hsl(261, 100%, 75%);
$color-red: hsl(0, 93%, 59%);
$color-red2: hsl(338, 95%, 56%);
$color-white: hsl(0, 0%, 97%);
$color-white2: hsl(60, 36%, 96%);
$color-white3: hsl(60, 30%, 96%);
$color-yellow: hsl(54, 70%, 68%);
$color-yellow2: hsl(80, 76%, 53%);
$color-yellow3: hsl(60, 12%, 79%);
$color-yellow4: hsl(55, 11%, 22%);
$color-yellow5: hsl(50, 11%, 41%);

$color-foreground: $color-white3;
$color-background: $color-black3;
$color-caret: $color-white2;
$color-invisibles: fade($color-white3, 0.35);
$color-line-highlight: $color-yellow4;
$color-selection: $color-grey;
$color-selection-border: $color-black2;
$color-misspelling: $color-red2;
$color-active-guide: fade($color-orange2, 0.69);
$color-find-highlight-foreground: $color-black;
$color-find-highlight: $color-orange3;
$color-brackets-foreground: fade($color-white3, 0.65);
$color-bracket-contents-foreground: fade($color-white3, 0.65);

//
$spacing: 0.2vmin;

//
$font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;

//
$elevation-1: 0 3px 3px -3px rgba(0, 0, 0, 0.125);
$elevation-2: 0 3px 3px -3px rgba(0, 0, 0, 0.25);
$elevation-3: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
$elevation-4: 0 3px 3px -3px rgba(0, 0, 0, 0.625);
$elevation-5: 0 3px 3px -3px rgba(0, 0, 0, 0.75);
