@import "./../../scss/imports";

.script-toggle {
  .has-error {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: $red;
      top: -6px;
      right: -6px;
    }
  }

  .empty {
    color: rgba(#fff, 0.5)
  }
}