.vertical-tabs {
  display: flex;
  flex-grow: 1;

  .react-tabs {
    &__tab-list {
      display: flex;
      flex-direction: column;
      padding: 1vmin 0 1vmin 1vmin;
    }

    &__tab,
    &__tab--selected {
      margin: 0;
    }

    &__tab {
      &:before,
      &:after {
        display: none;
      }
    }

    &__tab-panel {
      flex-grow: 1;
      padding: 1vmin 1vmin 1vmin 1vmin;
    }
  }
}
