@import "./../../../scss/imports";

.audio-manager {
  padding: $spacer * 0.5;
  flex-grow: 1;

  &__controls {

  }

  &__bottom,
  &__bottom-left,
  &__bottom-right {
    position: relative;
    display: flex;
  }

  &__bottom,
  &__bottom-left {
    flex-grow: 1;
  }

  &__bottom-left,
  &__bottom-right {
    flex-direction: column;
  }

  &__monitor {
    flex-grow: 1;
    position: relative;

    canvas {
      position: absolute;
      margin: auto;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__bpm {
    display: block;
    width: 4rem;
    height: 4rem;
    border-width: 1px;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin: 0 auto $spacing * 3 auto;

    &__wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}